.SideBar{
    padding-right: 2px;
    padding-left: 2px;
    border-right: 2px solid #c8c8c8;
    background: #c8c8c8;
    text-align: end;
}
.Button{
    height: 20px;
    margin-top: 2px;
    margin-right: 2px;
}
.block1{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: max-content;
    color: gray;
}